.Logo {
    text-align: center;
    font-size: 2rem;
}

.Logo a {
    text-decoration: none;
    color: black;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.Logo a:hover {
    color: #1DE9B6;
}