.Logo {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.Logo img {
    width: 85px;
    padding-right: 12px;
    padding-bottom: 7px;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.Logo a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.Logo a:hover {
    color: #80CED7;
}

.Logo a:hover img {
    transform: rotate(10deg);
}

.Logo img:hover {
    transform: rotate(10deg);
}