ul, li {
    margin: 0;
    padding: 0;
}

.movieSection {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.movieDetailList li {
    list-style-type: none;
}

.posterImg {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}

@media (min-width: 450px) {
    .movieInfo {
        width: 400px;
        margin: 0 auto;
    }
    .posterImg {
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 700px) {
    .movieSection {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    .movieInfo {
        width: 65%;
        margin: 0 auto;
    }

    .movieInfo {
        margin-top: -15px;
        margin-left: 20px;
    }
    
    .posterImg {
        width: 100%;
    }
}