@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
    font-family: 'Julius Sans One', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.Flick {
  text-align: center;
}